.nav-item{
  margin-right: 20px;
  font-size: 20px;
  color:white;
}
.nav-item:hover{
  font-weight: bold;
  text-decoration: underline;
}

.tobejustified{
  text-align: justify;
}
/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 1087px) {
  .nav-item {
    margin-right: 5px;
    font-size: 15px;  }
}
@media screen and (max-width: 767px) {
  .nav-item {
    margin-right: 10px;
    font-size: 17px;  }
}
@media screen and (max-width: 446px) {
  #navbarLogo {
    width:60%; }
}
@media screen and (max-width: 350px) {
  #booksName {
    font-weight:normal;
  font-size: 15px;}
}

@media screen and (max-width: 264px) {
  #board img {
    width:90%;}
}

#board p {
  font-size:15px;}
}
@media screen and (max-width: 400px) {
  .tobejustified{
    font-size: 15px;
  }
}
@media screen and (max-width: 500px) {
  .display-5{
    font-size: 30px;
  }
}
